{% extends "base.html" %}

{% block head_title %} Customer Information | {{ block.super }}  {% endblock head_title %}

{% block content %}


<h1> {{object.name}} </h1>
<i><a href="{% url "database:customer-list" %}">Back to Customer List</a></i>

<hr />


Contact Person: {{object.contact_person}} <br />
Email: {{object.email}} <br />
Notes: {{object.notes}} <br />

Aircraft:

<ul>
	{% for aircraft in object.aircraft_set.all %}
	 <li><a href="{{aircraft.get_absolute_url}}"> {{aircraft.registration}} </a></li>
	{% endfor%} 
</ul>

{% endblock %}